<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_ee_ut_security_Authorities" modelAttribute="authorities" path="/security/authorities" render="${empty dependencies}" z="3wa3PWoTJwyIIb1VFTlvotBbKho=">
        <field:input field="authority" id="c_ee_ut_security_Authorities_authority" z="mv0Quu04hDRihjLFYq5CuPlguiI="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_ee_ut_security_Authorities" render="${not empty dependencies}" z="bGYXh04L8JW4klwRDjIa3qx3/9o="/>
</div>
