<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" 
	xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:spring="http://www.springframework.org/tags"
	version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_ee_ut_domain_Planthirerequest" items="${planthirerequests}" z="ZxiqL7EPJVPheNSArYr5uscZ7bU=">
        <table>
        	<thead>
        		<td>Show</td>
        		<td>Site Id</td>
        		<td>Start Date</td>
        		<td>End Date</td>
        		<td>Plant</td>
        		<td>Update</td>
        		<td>Status</td>
        		<td>Comment</td>
        		<td>Total</td>
        		<td>Invoice</td>
        			
        	</thead>
        	<c:forEach items="${planthirerequests}" var="planthirerequest">
        		<tr>
        			<td>
        				<form method="GET" action="${pageContext.request.contextPath}/planthirerequests/${planthirerequest.id}">	
			        		<input type="submit" value="Show" />
			        	</form>
					</td>
        			<td>${planthirerequest.siteId}</td>
        			<td>${planthirerequest.startDate.time.date}.${planthirerequest.startDate.time.month}.${1990+planthirerequest.startDate.time.year}</td>
        			<td>${planthirerequest.endDate.time.date}.${planthirerequest.endDate.time.month}.${1990+planthirerequest.endDate.time.year}</td>
        			<td>${planthirerequest.plant}</td>
        			<td>
        				<c:if test="${not empty planthirerequest.update}">
							${planthirerequest.update.endDate} ${planthirerequest.update.status}
						</c:if>
        			</td>
        			<td>${planthirerequest.status}</td>
        			<td>${planthirerequest.comment}</td>
        			<td>${planthirerequest.price}</td>
        			<td>			
						
						<c:if test="${not empty planthirerequest.invoice}">
							<spring:eval expression="planthirerequest.invoice.status == T(ee.ut.domain.InvoiceStatus).NOT_PAID" var="isValid" />				
							<c:if test="${isValid}">
							   <td>
							   		
			        				<form method="GET" action="${pageContext.request.contextPath}/planthirerequests/acceptInvoice/${planthirerequest.invoice.id}">
			        					${planthirerequest.invoice.total}
			        					<input type="submit" value="Accept" />
			        				</form>
			        			</td>
			        			
							</c:if>
						</c:if>
					
        			</td>
        			
        		</tr>
        	</c:forEach>
        </table>
        
    </page:list>
</div>

