<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" 
xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" 
xmlns:form="http://www.springframework.org/tags/form" 
xmlns:jsp="http://java.sun.com/JSP/Page" 
xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <!-- "http://www.springframework.org/tags/form"  -->
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    
     <form:form method="POST" id="fu_ee_ut_domain_Planthirerequest" modelAttribute="hirerequest" action="${pageContext.request.contextPath}/purchaseOrder/queryPlant/submitRequest">
        <field:input field="siteId" id="c_ee_ut_domain_Planthirerequest_siteId" validationMessageCode="field_invalid_integer" z="VAYfqXc39eGPnpRktSmMY+1nhI4="/>
        <field:datetime dateTimePattern="${planthirerequest_startdate_date_format}" field="startDate" id="c_ee_ut_domain_Planthirerequest_startDate" z="S+zqoREioi5aCeeFIE0ZkcIaqo0="/>
        <field:datetime dateTimePattern="${planthirerequest_enddate_date_format}" field="endDate" id="c_ee_ut_domain_Planthirerequest_endDate" z="st2FUll5PHz4M1P5p1RbX1H1gV0="/>
        <field:select field="plant" items="${plants}" itemValue="plantId" id="c_ee_ut_domain_Planthirerequest_plant" path="/plants" />
        
        <form:hidden path="startDate" />
        <form:hidden path="endDate" />
        <form:hidden path="status" />
        <input type="submit" value="Submit" />
    </form:form> 
    
</div>
