<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"

     xmlns:spring="http://www.springframework.org/tags"
     xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0"
     xmlns:form="http://www.springframework.org/tags/form"

     xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:c="http://java.sun.com/jsp/jstl/core">

    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    
    
    <form:form method="POST" modelAttribute="plantquery" action="${pageContext.request.contextPath}/se/phrs/createPO">
        <table>
            <tr>
                <field:input label="Plant name" id="input_phr" field="name"/>
            </tr>
            <tr>
                <field:datetime dateTimePattern="${planthirerequest_startdate_date_format}" field="startDate"
                                label="Start date" id="c_ut_ee_domain_PlantHR_startR"/>
            </tr>
            <tr>
                <field:datetime dateTimePattern="${planthirerequest_enddate_date_format}" field="endDate"
                                label="End date" id="c_ut_ee_domain_PlantHR_endR"/>

            </tr>
            <tr>
                <input type="submit" value="Check availability"/>
            </tr>
        </table>
    </form:form>
    ${searchMsg}
    

</div>
