<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show create="false" delete="false" id="ps_ee_ut_domain_Planthirerequest" object="${planthirerequest}" path="/se/phrs" z="E6rKznMHU6OMcV+CmvYFncNfU2Y=">
        <field:display field="update" id="s_ee_ut_domain_Planthirerequest_update" object="${planthirerequest}" z="mlGlCWqeoYm5e8JwOvT5Mn4NgHU="/>
        <field:display field="price" id="s_ee_ut_domain_Planthirerequest_price" object="${planthirerequest}" z="PLsDRKbPqiEOMaF5PFdtMAPvdkQ="/>
        <field:display field="comment" id="s_ee_ut_domain_Planthirerequest_comment" object="${planthirerequest}" z="BpM9Fg9RTTQ3LGe9ZSgjUewCZeE="/>
        <field:display field="siteId" id="s_ee_ut_domain_Planthirerequest_siteId" object="${planthirerequest}" z="r65Wh2TBXqs4NbTMlmzfCc3FX4g="/>
        <field:display calendar="true" dateTimePattern="${planthirerequest_startdate_date_format}" field="startDate" id="s_ee_ut_domain_Planthirerequest_startDate" object="${planthirerequest}" z="wJD0qhpbgKR32W5aUuP+SZ9KaFA="/>
        <field:display calendar="true" dateTimePattern="${planthirerequest_enddate_date_format}" field="endDate" id="s_ee_ut_domain_Planthirerequest_endDate" object="${planthirerequest}" z="VkiiCXqq6oCoJqKIqEw4r1KdhCg="/>
        <field:display field="status" id="s_ee_ut_domain_Planthirerequest_status" object="${planthirerequest}" z="BIlKgBLr+HwOyqmpELvrV3avMz4="/>
        <field:display field="workEngineer" id="s_ee_ut_domain_Planthirerequest_workEngineer" object="${planthirerequest}" z="7Xp3w4+re5LhLgMK6zbykM/fJ0Q="/>
        <field:display field="siteEngineer" id="s_ee_ut_domain_Planthirerequest_siteEngineer" object="${planthirerequest}" z="WYvtxGFxu2DNrXXGaX/dK+knxFg="/>
        <field:display field="plant" id="s_ee_ut_domain_Planthirerequest_plant" object="${planthirerequest}" z="X7GkUvH3P/RzdY/rA1MoAjZWEVw="/>
        <field:display field="invoice" id="s_ee_ut_domain_Planthirerequest_invoice" object="${planthirerequest}" z="yXKmmaM+kcJ2rOTh6o6ndFkU1Iw="/>
        <field:display field="poid" id="s_ee_ut_domain_Planthirerequest_poid" object="${planthirerequest}" z="qR5jnq3LN2Kz7gtAAZXECr8YRTc="/>
    </page:show>
</div>
